{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{% if is_dark_theme %}dark{% endif %}">
  <head>
    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{% static 'images/favicon.svg' %}">
      <link rel="stylesheet" href="{% static 'css/eyes.css' %}">
    <title>My Book</title>
    <script src="https://cdn.tailwindcss.com"></script>

    {% tailwind_css %}

  </head>

  <body class="h-full text-bg-gray-600  dark:text-gray-50 bg-indigo-200 dark:bg-[#334a85] overflow-hidden">
    <div class="h-screen overflow-auto">
      <!--    NAVIGATION-->
 {% include 'includes/navigation.html' %}
 {% include 'includes/footer.html' %}
      <!--    HEADER-->
    <main class=" h-screen">
      <header class="flex relative flex items-center top-12">
        <div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8 ">
{#            {% block title %}{% endblock %}#}
            {% block header %}{% endblock %}
        <div class="flex flex-col absolute right-10 top-5 ">
            {% include 'includes/messages.html' %}
        </div>

        </div>
      </header>

      <!--    DASHBOARD-->
{#      <main class="bg-gradient-to-r from-indigo-600 to-indigo-900">#}
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div class="px-4 sm:px-0">
            <div class="h-full rounded-lg flex items-center">
              <div class="overflow-x-auto w-full h-full">
                <div class="flex w-full items-center justify-center font-sans overflow-hidden p-5">
                    {% block tabs %}{% endblock %}
                  {% block content %}{% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8"></div>
      </main>
    </div>
      <script  type="module" src="{% static 'js/app.js' %}"></script>
  </body>
</html>