<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Organizer</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/note_app/note/" role="button">Add note</a></li>
          <li><a href="/note_app/tag/" role="button">Add Tag</a></li>
          <li><a href="/note_app/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>

      <h5 class="card-title">Search</h5>

      <form action="{% url 'search_note' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
      </form>

      <div>
        {% for note in notes %}
        <ul>

          {%if not note.done %}
          <a href="/note_app/detail/{{note.id}}" role="button" class="outline">{{note.name}}</a>
          <a href="/note_app/done/{{note.id}}" role="button">Mark Done</a>
          <a href="/note_app/delete/{{note.id}}" role="button" class="contrast">Delete note</a>

          {% else %}

          <a href="/note_app/detail/{{note.id}}" role="button" class="secondary"><s>{{note.name}}</s></a>
          <a href="/note_app/delete/{{note.id}}" role="button" class="contrast">Delete</a>

          {% endif %}

        </ul>
        {% endfor %}
       </div>

<!--      <div class="pagination">-->
<!--        <span class="step-links">-->
<!--            {% if page_obj.has_previous %}-->
<!--                <a href="?page=1">&laquo; first</a>-->
<!--                <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--            {% endif %}-->

<!--            <span class="current">-->
<!--                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--            </span>-->

<!--            {% if page_obj.has_next %}-->
<!--                <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--            {% endif %}-->
<!--        </span>-->
<!--      </div>-->

    </main>
  </body>
</html>
