{% extends 'base.html' %}
{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}

{% block content %}
    <div class="h-screen py-6 w-96" >
      <nav class="mb-5 border-b-4" >
        <ul class="flex items-center justify-center md:gap-3 flex-wrap gap-7 mb-10">
          <li><a class="nav-button" href="/note_app/" role="button"> Go back </a></li>
        </ul>
      </nav>
      <form class="text-gray-700" method="POST" action="{% url 'note' %}">
        {% csrf_token %}
        <div class="font-medium flex-col justify-center items-center pb-3 ">
            <label for="name" class="text-gray-700 dark:text-gray-300 flex">Note name:</label>
            <input class="flex w-full border border-lip rounded-lg" type="text" name="name" id="name" required />
        </div>
        <div class="font-medium flex-col justify-center items-center pb-3">
          <label class="text-gray-700 dark:text-gray-300 flex" for="description">Note description:</label>
            <input class="flex w-full border border-lip rounded-lg" type="text" name="description" id="description" required />
        </div>
        <div class="font-medium flex-col justify-center items-center pb-3">
          <label for="tags" class="text-gray-700 dark:text-gray-300 flex">Select tags:</label>
            <select class="flex w-full border border-lip rounded-lg h-20" name="tags" multiple="multiple" id="tags" required>
              {% for tag in tags %}
              <option value="{{tag.name}}">{{tag.name}}</option>
             {% endfor %}
            </select>
        </div>
            {% include 'includes/reset_submit_btn.html' %}
      </form>
    </div>
{% endblock %}