{% extends 'base.html' %}
{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}

{% block content %}
    <div class="h-screen py-6 w-96" >
      <nav class="mb-5 border-b-4" >
        <ul class="flex items-center justify-center gap-3 mb-10">
          <li><a class="text-white px-5 py-2 border-2 border-lip rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 transition" href="/note_app/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>
      <form method="POST" action="{% url 'note' %}">
        {% csrf_token %}
        <div class="font-medium flex-col justify-center items-center pb-3">
            <label for="name" class="text-gray-300 flex">Note name:</label>
            <input class="flex w-full border border-lip rounded-lg" type="text" name="name" id="name" required />
        </div>
        <div class="font-medium flex-col justify-center items-center pb-3">
          <label class="text-gray-300 flex" for="description">Note description:</label>
            <input class="flex w-full border border-lip rounded-lg" type="text" name="description" id="description" required />
        </div>
        <div class="font-medium flex-col justify-center items-center pb-3">
          <label for="tags" class="text-gray-300 flex">Select tags:</label>
            <select class="flex w-full border border-lip rounded-lg h-20" name="tags" multiple="multiple" id="tags" required>
              {% for tag in tags %}
              <option value="{{tag.name}}">{{tag.name}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="flex items-center justify-between mt-5 gap-5">
          <button type="reset" class="text-white w-1/2 px-5 py-2 border-2 border rounded-lg bg-gray-500 hover:bg-gray-700 transition">Reset</button>
          <button type="submit" class="text-white w-1/2 px-5 py-2 border-2 border rounded-lg bg-purple-500 hover:bg-purple-700 transition" >Submit</button>
        </div>
      </form>
    </div>
{% endblock %}
