{% extends 'base.html' %}
{% block header %}
    {% include 'includes/headerNote.html' %}
{% endblock %}
{% block content %}
    <div class="h-screen py-6 w-96" >
      <nav class="mb-5 border-b-4">
        <ul class="flex items-center justify-center md:gap-3 flex-wrap gap-7 mb-10">
          <li><a class="nav-button" href="/note_app/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>
      <ul>
      {% if error %}
      <div>
        <mark>{{ error }}</mark>
      </div>
      {% endif %}
      </ul>
      <form method="POST" action="{% url 'tag' %}">
        {% csrf_token %}
        <div class="py-3" >
          <label for="name" class="text-gray-700 dark:text-gray-300 flex">Tag name:</label>
            <input class="text-gray-700 flex w-full border border-lip rounded-lg" type="text" name="name" id="name" required />
        </div>
            {% include 'includes/reset_submit_btn.html' %}
      </form>
    </div>
{% endblock %}