<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add contact</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/book_app/" role="button"> Go back to the main page </a></li>
        </ul>
      </nav>
      <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        <div style="padding: 10px">
          <label
            >Nickname:
            <input type="text" name="nickname" required />
          </label>
        </div>
        <div style="padding: 10px">
          <label
            >Phone:
            <input type="tel" name="phone" placeholder="+380960001122" pattern="^\+?1?\d{8,15}$" required />
          </label>
        </div>

        <div class="grid">
          <button type="reset" class="secondary">Reset</button>
          <button type="submit">Add</button>
        </div>

      </form>
    </main>
  </body>
</html>