{% extends 'base.html' %}
{% block header %}
    {% include 'includes/headerBook.html' %}
{% endblock %}

{% block content %}
    <div class="h-screen w-full md:w-2/3 py-6 ">
      <nav class="mb-5 border-b-4" >
        <ul class="flex items-center justify-center md:gap-3  flex-wrap gap-3 mb-10">
          <li><a class="nav-button" href="/book_app/contact/" role="button">Add Contact</a></li>
          <li><a class="nav-button" href="/book_app/" role="button"> Go back </a></li>
        </ul>
      </nav>
      <h5 class="text-gray-800 dark:text-gray-300 bold text-2xl uppercase mb-5">Birthdays:</h5>
        <ul class="text-gray-300">
          {% for day in days %}
                <li class="flex justify-between items-center"><span class="capitalize font-bold text-accent">{{ day.nickname }}</span></li>
                <li class="flex justify-between items-center text-gray-800 dark:text-gray-300">Days to birthday:<span class="font-bold text-green-600">{{ day.happy.days }} days</span></li>
                <li class="flex justify-between items-center mb-8 text-gray-800 dark:text-gray-300">Birthday:<span class="font-bold text-green-600">{{ day.birthday }}</span></li>
{#                <li class="text-gray-300">{{ day.happy.days }} days to birthday <span class="capitalize ml-10">{{ day.nickname }}:  {{ day.birthday }}</span></li>#}
          {% endfor %}
        </ul>
    </div>
{% endblock %}