<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book information</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px">
        <ul>
          <li><a href="/book_app/" role="button"> Go back to the main page </a></li>
<!--          <li><a href="/book_app/info/{{nickname.id}}" role="button">Add Info</a></li>-->
          <li><a href="/book_app/contact_edit/{{nickname.id}}" role="button">Add/Edit {{ nickname.nickname }}</a></li>
          <li><a href="/book_app/delete_all/{{nickname.id}}" role="button">Delete</a></li>
        </ul>
      </nav>
      <h1>{{nickname.nickname}}</h1>
      <nav style="margin-bottom: 25px;  padding-left: 0px">
        <a href="/book_app/nick_edit/{{nickname.id}}" role="button">Edit nickname {{ nickname.nickname }}</a>
      </nav>
      <p>Phone: <b>{{nickname.phone}}</b></p>
      <p>Time of creation: <kbd>{{nickname.created.date}}</kbd></p>
      <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px"></nav>
      <h2>Additional Information</h2>

      <h4>Additional phone</h4>
      <ul>
        {% if telephone.telephone %}
        Phone: <b>{{telephone.telephone}}</b>
        <a href="/book_app/edit_telephone/{{nickname.id}}" role="button">Edit</a>
        <a href="/book_app/delete_telephone/{{nickname.id}}" role="button">Delete</a>
        {% else %}
        Phones: <b>{{telephone.telephone}}</b>
        {% endif %}
      </ul>

      <h4>First name</h4>
      <ul>
        {% if name.name %}
        First name: <b>{{name.name}}</b>
        <a href="/book_app/edit_name/{{nickname.id}}" role="button">Edit name</a>
        <a href="/book_app/delete_name/{{nickname.id}}" role="button">Delete</a>
        {% else %}
        First name: <b>{{name.name}}</b>
        {% endif %}
      </ul>


      <h4>Second name</h4>
      <ul>
        {% if surname.surname %}
        Second name: <b>{{surname.surname}}</b>
        <a href="/book_app/edit_surname/{{nickname.id}}" role="button">Edit surname</a>
        <a href="/book_app/delete_surname/{{nickname.id}}" role="button">Delete</a>
        {% else %}
        Second name: <b>{{surname.surname}}</b>
        {% endif %}
      </ul>


      <h4>Email</h4>
      <ul>
        {% if email.email %}
        Email address: <b>{{email.email}}</b>
        <a href="/book_app/edit_email/{{nickname.id}}" role="button">Edit email</a>
        <a href="/book_app/delete_email/{{nickname.id}}" role="button">Delete</a>
        {% else %}
        Email address: <b>{{email.email}}</b>
        {% endif %}
      </ul>

      <h4>Birthday</h4>
      <ul>
        {% if birthday.birthday %}
        Date of birthday: <b>{{birthday.birthday}}</b>
        <a href="/book_app/edit_birthday/{{nickname.id}}" role="button">Edit birthday</a>
        <a href="/book_app/delete_birthday/{{nickname.id}}" role="button">Delete</a>
        {% else %}
        Date of birthday: <b>{{birthday.birthday}}</b>
        {% endif %}
      </ul>

<!--      <h4>Happy day</h4>-->
<!--        <ul><b>{{day.happy.days}}</b> days until the birthday contact <b>{{nickname.nickname}}</b></ul>-->
      <h4>Country</h4>
      <ul>
        {% if country.country %}
        Country: <b>{{country.country}}</b>
        <a href="/book_app/edit_country/{{nickname.id}}" role="button">Edit country</a>
        <a href="/book_app/delete_country/{{nickname.id}}" role="button">Delete</a>
        {% else %}
        Country: <b>{{country.country}}</b>
        {% endif %}
      </ul>

      <h4>Address</h4>
      <ul>
        {% if address.address %}
        Full address: <b>{{address.address}}</b>
        <a href="/book_app/edit_address/{{nickname.id}}" role="button">Edit address</a>
        <a href="/book_app/delete_address/{{nickname.id}}" role="button">Delete</a>
        {% else %}
        Full address: <b>{{address.address}}</b>
        {% endif %}
      </ul>

    </main>
  </body>
</html>
