{% extends 'base.html' %}
{% block header %}
    <div class="flex-col items-center" style='align-items: center; justify-content: center; display: flex'>
        <h2 class='flex font-bold text-3xl text-gray-900 tracking-tight uppercase mb-5'> Photos</h2>
        <div class="flex">{% include 'mediauploadapp/includes/tabs.html' %}</div>
    </div>
{% endblock %}

{% block content %}

{% csrf_token %}



<div class=" flex flex-col justify-center items-center gap-3">
  <div class="row text-accent flex flex-col">
    <div class="col-md-3">
      <div class="flex justify-center">
{#          <div class="text-white px-5 py-2 pb-5 border-2 border-lip dark:border-[#1a4cda] rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 dark:from-[#1a4cda] dark:to-[#293c72] transition">#}
            <a href="{% url 'basic_upload' %}" class="text-white px-5 py-2 mb-5 border-2 border-lip dark:border-[#1a4cda] rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 dark:from-[#1a4cda] dark:to-[#293c72] transition">
                 Upload Your Photo
            </a>
        </div>
      </div>
{% block photos_content %}

<div class="flex justify-center">
    <h2 class='text-sm flex-bold text-white px-7 py-5 text-2xl'>Photo Example</h2>
</div>
<div class="flex justify-center rounded-lg">
    <img class="object-scale-down h-48 w-96 ..." src={{ photo}} onclick="showModal(src)">
</div>
    <div id="divID"></div>


<div class="flex justify-center mb-5">
  <form method="post" action="{% url 'clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="text-white px-5 py-2 border-2 border-lip dark:border-[#1a4cda] rounded-lg bg-gradient-to-r from-indigo-600 to-indigo-400 hover:bg-gradient-to-l hover:from-indigo-600 hover:to-indigo-400 dark:from-[#1a4cda] dark:to-[#293c72] transition"ы >
      Clear Database
    </button>
  </form>
</div>

{#{% block photos_content %}#}
{##}
{#<div class="flex justify-center">#}
{#    <h2 class='text-sm flex-bold text-white px-7 py-5 text-2xl'>Photo Example</h2>#}
{#</div>#}
{#<div class="flex justify-center rounded-lg">#}
{#    <img class="object-scale-down h-48 w-96 ..." src={{ photo}}#}
{#        onclick="showModal(src) " >#}
{##}
{#</div>#}
{#    <div id="divID"></div>#}

    <!-- Change colors -->
    <script>
        const divElem = document.getElementById("divID");
        function randomcolor() {
            return Math.floor(Math.random() * 255);
        }
        divElem.addEventListener('click', () => {
            divElem.style.backgroundColor = 'rgba('
                + randomcolor() + ',' + randomcolor()
                + ',' + randomcolor() + '\)'
        })
    </script>

    <!-- The Modal -->
    <div id="modal"
        class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center">

        <!-- The close button -->
        <a class="fixed z-90 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
            onclick="closeModal()">&times;</a>

        <!-- A big image will be displayed here -->
        <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" />
    </div>

    <script>
        // Get the modal by id
        var modal = document.getElementById("modal");

        // Get the modal image tag
        var modalImg = document.getElementById("modal-img");

        // this function is called when a small image is clicked
        function showModal(src) {
            modal.classList.remove('hidden');
            modalImg.src = src;
        }

        // this function is called when the close button is clicked
        function closeModal() {
            modal.classList.add('hidden');
        }
    </script>
{% endblock %}
</div>

{% endblock %}
