{% extends 'auth/index.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block content %}
    <form   method="post">
    {% csrf_token %}
        <h3>Login Here</h3>
       {{ form|crispy }}
        <button class="btn" >Log In</button>

            <div style="margin-top: 10px" >
                <span>Don't have an account?</span>
                 <a href="{% url 'register' %}">
                    <span class="text-accent cursor-pointer underline">Sign Up</span>
                </a>
            </div>
        <div class="social">
{#            <button class=" google bg-transparent w-full px-3 py-2 border-2 border-['#626167'] rounded text-white >#}
            <button class="google">
                <a href="{% provider_login_url 'google'%}?next=/">
                    <i class="fab fa-google text-accent"></i>
                    Login with Google

                </a>
            </button>
{#          <div class="go"><i class="fab fa-google"></i>  Google</div>#}
        </div>
    </form>
{% endblock %}