{% extends 'base.html' %}
{% block header %}
    <div class="flex-col items-center" style='align-items: center; justify-content: center; display: flex'>
        <h2 class='flex font-bold text-3xl text-gray-900 tracking-tight uppercase mb-5'> 100 Books to Read in a Lifetime</h2>
        <div class="flex">{% include 'includes/tabs.html' %}</div>
    </div>
{% endblock %}
{% block content %}
    <div class="font-serif">
        {% for i in books %}
            <p>{{ i.number }}. {{i.author}} - {{i.title}} {{i.rating}}</p>
        {% endfor %}
    </div>
{% endblock %}
