    <thead class="border-b bg-primary">
      <tr>
        <th scope="col" class="hidden md:block text-sm font-medium text-white px-6 py-4">Cover</th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">Title</th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">Author</th>
        <th scope="col" class="hidden md:block text-sm font-medium text-white px-6 py-4">Publication date</th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">Download</th>
        <th scope="col" class="text-sm font-medium text-white px-6 py-4">Delete</th>
      </tr>
    </thead>